<form method="POST" action="/register" enctype="multipart/form-data">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email used to login">
  </div>
  <div>
  <label for="image">Image</label>
  <input type="file" name="image" id="image">
  </div>
  <div>
    <label for="aboutMe">About Me</label>
    <input type="text" name="aboutMe" id="aboutMe" placeholder="Tell fellow divers about yourself!">
  </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>
    <div>
      <label for="passwordConfirmation">Password Confirmation</label>
      <input type="password" name="passwordConfirmation" id="passwordConfirmation">
    </div>

    <button class="btn btn-primary">Register</button>
</form>
