<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/dives">DiveBook</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <% if(locals.isAuthenticated) { %>
        <li class="nav-item">
          <a class="nav-link" href="/dives">Dives</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dives/new">New Dive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-hidden="true" href="/users/<%= user.id %>"><i class="fa fa-user-circle"></i> My Profile</a>
        </li>
      <% } %>
    </ul>
    <% if(locals.isAuthenticated) { %>
    <div class="form-inline my-2 my-lg-0 logout">
      <a class="nav-link" href="/logout">    <i class="fa fa-sign-out" aria-hidden="true"></i>
      Logout</a>
    </div>
    <% } %>
  </div>
</nav>
