<body>
<main class= home>
  <div class="login">
    <a href="/login"><button class= "btn btn-danger loginbtn btn-lg HmeBtns">Login</button></a>
    <a href="/register"><button class= "reg btn btn-danger loginbtn btn-lg HmeBtns">Register</button></a>
  </div>
</main>
<%# <footer><p class="db">&copy; DiveBook </p></footer>%>
</body>
