<form method="POST" action="/dives" enctype="multipart/form-data">
  <div>
    <label for="diveNo">Dive No.</label>
    <input type="number" name="diveNo" id="diveNo">
  </div>
  <div>
    <label for="date">Date</label>
    <input type="date" name="date" id="date">
  </div>
  <div>
    <label for="diveTime"> Dive Time</label>
    <input type="number" name="diveTime" id="diveTime">
  </div>
  <div>
    <label for="diveShop">Dive Shop</label>
    <input type="text" name="diveShop" id="diveShop">
  </div>

    <label for="location">Location</label>
    <input class="controls" id="location" name="location" placeholder="Enter Location" style="width: 100%">
    <input type="hidden" name="latitude">
    <input type="hidden" name="longitude">
  </div>
  <input type="hidden" name="lat" lat="">
  <input type="hidden" name="lng" long="">
  <div>
  <label for="diveSite">Dive Site</label>
  <input class="autocomplete" name="diveSite">
  </div>
  <div>
    <label for="animalTags">Animal Tags</label>
    <input type="text" name="animalTags" id="animalTags">
  </div>
  <div>
    <label for="stars">Stars</label>
    <input type="number" name="stars" id="stars" min="1" max="5">
  </div>
  <div>
    <label for="review">Review</label>
    <input type="text" name="review" id="review">
  </div>
  <div>
    <label for="image">Images</label>
    <input type="file" name="image" id="image">
  </div>

  <button class="button">Post</button>
</form>
