<h1>Login</h1>

<form method="POST" action="/login">
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </div>

  <button class="btn btn-primary">Login</button>
</form>
<br>
<button><a href="<%= oauth.facebook.getLoginURL() %>" class="btn btn-primary">Login with Facebook</a></button>
<a href="<%= oauth.github.getLoginURL() %>" class="btn btn-primary">Login With Github</a>
