<div class="container">

  <h1>Edit Profile</h1>

  <form method="POST" action="/users/<%= user.id %>">
    <input type="hidden" name="_method" value="PUT">
      <div class="form-group">
        <label for="aboutMe">About Me</label>
        <input type="text-area" class="form-control" name="aboutMe" id="aboutMe" placeholder="Tell fellow divers about yourself!">
      </div>

    <button class="btn btn-primary">Update</button>
  </form>

</div>

<script>
$("form").validate();
</script>
