<h1>Edit Profile</h1>

<form method="POST" action="/users/<%= user.id %>">
  <input type="hidden" name="_method" value="PUT">

    <div class="form-group">
    <label for="image">Image</label>
    <input type="file" name="image" id="image">
    </div>
    <div class="form-group">
      <label for="aboutMe">About Me</label>
      <input type="text-area" name="aboutMe" id="aboutMe" placeholder="Tell fellow divers about yourself!">
    </div>

  <button class="btn btn-primary">Update</button>
</form>

<script>
$("form").validate();
</script>
